---
title: "Schedule"
layout: "layouts/base.njk"
permalink: /
---
<div class="bg-custard">
  <div class="wrapper | stack-m">
    <h1 class="text-step-4">Cineville Schedule</h1>

    {# search function for movie title, client-side js can be found in scripts/global.js #}
    <form id="search-form" oninput="searchEvents(event)">
      <input type="text" id="search-input" class="input-text" placeholder="Search a movie..." />
    </form>

    <ul role="list">

    {# chatgpt helped me work out to cluster the different events on the same day like this #}
    {% for day, events in api.byDay %}
      <li>
        <section class="day">
          <h2 class="day-title | text-step-2">{{ events[0].dayLabel }}</h2>

          <ul role="list" class="event-list">
            {% for event in events %}
              <li class="event-list__item" data-title="{{ event.title | lower | safe }}">
                <a href="/{{ event.slug }}-{{ event.eventId }}/">
                  <h3>{{ event.title }}</h3>
                  <time class="font-serif">{{ event.time }}</time>
                  <p class="font-serif">{{ event.venue.name }}</p>
                </a>
              </li>
            {% endfor %}
          </ul>
        </section>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>