<footer id="footer" style="padding-block: 2rem;" class="bg-orange text-shadow weight-bold">
  <div class="wrapper">Made by <span class="font-serif text-custard">Eva Boogaard</span> with the Cineville Schedule Service API.</div>
</footer>